@import './styles/kiso.css';
@import './styles/variables.css';
@import './styles/card-animations.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-background);
  color: var(--color-text-primary);
}
